<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/vant.css" />
</head>
<style type="text/css">

</style>

<body>
    <div id="app">
      <van-tree-select
        height="100vh"
        :items="items"
        :main-active-index.sync="active"
      >
        <template slot="content">
          <van-image v-if="active === 0" v-for="item in 10" src="https://img.yzcdn.cn/vant/apple-1.jpg" />
          <van-image v-if="active === 1" src="https://img.yzcdn.cn/vant/apple-2.jpg" />
        </template>
      </van-tree-select>
    </div>
</body>
<script src="../../script/api.js"></script>
<script src="../../script/vue.min.js"></script>
<script src="../../script/vant.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            myUserInfo: {},
            items: [],
            active:0,
        },
        mounted: function() {
            apiready = function() {
                app.init();
            };
        },
        methods: {
            init: function() {
                this.name = api.frameName;

            },
        }
    })
</script>

</html>
